.servicesContainer {
  display: flex;
  justify-content: space-between;
  max-width: 977px;
}

.servicesRoot {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 377px;
}

@media screen and (max-width: 1280px) {
  .servicesContainer {
    width: 89vw;
  }
}
