.servicesContainer {
  display: flex;
  justify-content: space-between;
  max-width: 977px;
}

.servicesRoot {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 610px;
}

@media only screen and (max-width: 639px) {
}

@media only screen and (min-width: 640px) and (max-width: 767px) {
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
}

@media only screen and (min-width: 1280px) {
}
