.singleServiceContainer {
  display: flex;
  width: 13%;
  flex-direction: column;
  gap: 13px;
}

@media only screen and (max-width: 1279px) {
  .singleServiceContainer {
    width: 89%;
    gap: 8px;
  }
}
