@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

:root {
  --text-color: #090807;
  --background-color: #EDEAE3;
  --primary-color: #A08D9E;
  --secondary-color: #DCC99B;
  --accent-color: #D1B36C;
}
* {
   background-color: var(--background-color);
   margin: 0;
   padding: 0;
   min-width: 0;
   font-family: Quicksand, sans-serrif;
}

#root {
  background-color: var(--background-color);
}
