@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 13vh;
}

.headerLogoContainer {
  display: flex;
}

.headerLogoText {
  background-color: transparent;
  font-family: 'Sofia', cursive;
  font-size: 24px;
  transform: translate(10px, 60px);
}

.headerLogo {
  width: 89px;
  margin-left: 13px;
}

.headerNav {
  display: flex;
  gap: 34px;
  margin-right: 34px;
}

.headerNav > p {
  font-size: 18px;
}

/* Small devices such as large phones (640px and up) */
@media only screen and (min-width: 40em) {}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 48em) {}

/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: 64em) {}

/* Largest devices such as desktops (1280px and up) */
@media only screen and (min-width: 80em) {}
