.singleTestimonialRoot {
  width: 377px;
  margin: 21px;
}

.testimonialImage {
  height: 89px;
  width: 89px;
  border-radius: 50%;
  margin: 13px;
  margin-top: 34px;
}

.singleTestimonialContainer {
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-radius: 21px;
  height: 610px;
}

.testimonialText {
  background-color: transparent;
  padding: 34px;
}

@media only screen and (max-width: 639px) {
  .singleTestimonialRoot {
    width: 89vw;
  }
  .singleTestimonialContainer {
    height: 377px;
  }
}

@media only screen and (min-width: 640px ) and (max-width: 1279px) {
  .singleTestimonialRoot {
    width: 610px;
  }

  .singleTestimonialContainer {
    height: 377px;
  }
}


