.testimonialsRoot {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}


@media only screen and (max-width: 1279px) {
  .testimonialsRoot {
    flex-direction: column;
  }
}

