.contactRoot {
  background-color: var(--accent-color);
  height: 610px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 144px;
}

.contactText {
  background-color: transparent;
  padding-left: 13vw;
  padding-right: 13vw;
  font-size: 1.8vw;
  display: flex;
  line-height: 2vw;
  align-items: center;
  justify-content: center;
}

/* Small devices such as large phones (640px and up) */
@media only screen and (min-width: 40em) {}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 48em) {}

/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: 64em) {}

/* Largest devices such as desktops (1280px and up) */
@media only screen and (min-width: 80em) {}

