.contactFormRoot {
  background-color: var(--accent-color);
  display: flex;
  flex-direction: row;
  gap: 21px;
  justify-content: center;
  align-items: center;
}

.contactFormLabels {
  background-color: transparent;
  display: flex;
  flex-direction: column;
}

.contactFormLabels > label {
  background-color: transparent;
  font-weight: 800;
  text-align: right;
}

.contactFormInputs{
  background-color: transparent;
  display: flex;
  flex-direction: column;
}

.contactFormInputs > input {
  width: 21vw;
}

.contactFormLabels > label,
.contactFormInputs > input {
  margin-top: 21px;
}

/* Small devices such as large phones (640px and up) */
@media only screen and (min-width: 40em) {}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 48em) {}

/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: 64em) {}

/* Largest devices such as desktops (1280px and up) */
@media only screen and (min-width: 80em) {}

