.contactFormRoot {
  background-color: var(--accent-color);
  display: flex;
  flex-direction: row;
  gap: 21px;
  justify-content: center;
  align-items: center;
}

.contactFormLabels {
  background-color: transparent;
  display: flex;
  flex-direction: column;
}

.contactFormLabels > label {
  background-color: transparent;
  font-weight: 800;
  text-align: right;
}

.contactFormInputs{
  background-color: transparent;
  display: flex;
  flex-direction: column;
}

.contactFormInputs > input {
  width: 21vw;
}

.contactFormLabels > label,
.contactFormInputs > input {
  margin-top: 21px;
}

@media only screen and (max-width: 639px) {
}

@media only screen and (min-width: 640px) and (max-width: 767px) {
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
}

@media only screen and (min-width: 1280px) {
}
