.footerRoot {
  background-color: var(--primary-color);
  padding: 34px;
  padding-left: 13vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 21px;
}

.footerTextContainer > p {
  color: white;
  background-color: transparent;
}


.footerTextContainer {
  background-color: transparent;
}

/* Small devices such as large phones (640px and up) */
@media only screen and (min-width: 40em) {}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 48em) {}

/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: 64em) {}

/* Largest devices such as desktops (1280px and up) */
@media only screen and (min-width: 80em) {}

