* {
  --background-color: #080808;
  --text-color: #eee9e5;
  color: var(--text-color);
  background-color: var(--background-color);
  min-width: 0;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 8vh;
  font-weight: 200;
}

h2 {
  font-size: 3vh;
  font-weight: 200;
  letter-spacing: .21vw;
}

p {
  font-size: 2vh;
  font-weight: 400;
  line-height: 3.4vh;
  letter-spacing: 0.08vw;
}
