* {
  --background-color: #0c0c0c;
  --text-color: #eee9e5;
  color: var(--text-color);
  background-color: var(--background-color);
  min-width: 0;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 8vh;
  font-weight: 200;
}

p {
  line-height: 3vh;
}
